---
import directus from '../lib/directus';
import { readItems } from '@directus/sdk';

const posts = await directus.request(readItems('posts', {
  fields: [
    '*',
    'status.value',
    'visibility.value', 
    'audience.value',
    'featured_image.*'
  ]
}));
---

<html>
  <body>
    <h1>CSI Hub</h1>
    <pre>{JSON.stringify(posts, null, 2)}</pre>
  </body>
</html>
